<%-include ./public/header.ejs %>
<div class="content wrap">
    <section class="banner">
        <div class="flexslider">
            <ul class="slides">
                <li><img src="<%=BaseURL%>/img/banner.jpg" /></li>
                <li><img src="<%=BaseURL%>/img/banner.jpg" /></li>
                <li><img src="<%=BaseURL%>/img/banner.jpg" /></li>
            </ul>
        </div>
    </section>

    <section class="index-body">
        
    </section>

</div>
    
<%-include ./public/footer.ejs %>